#container {
    margin: auto;
    width:90%;
    margin-top: 5px;
}

.input, button {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 3px solid #AAA;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

.input:focus {
    border-bottom: 2px solid #007bff;
    color: #16a085;
    transition: 0.2s ease;
}

#adminStatus {
    margin-left: 30px;
}

.page-info li {
    display: inline;
}
