#container {
    margin: auto;
    width:90%;
    margin-top: 5px;
}

.input {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 3px solid #AAA;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }

.input:focus {
    border-bottom: 2px solid #007bff;
    color: #16a085;
    transition: 0.2s ease;
}

.btn {
    color: white;
    padding: 7px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#adminStatus {
    margin-left: 30px;
}

#forma {
    width:90%;
    margin: auto;
}

.page-info li {
    display: inline;
}

.editbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.delbtn {
  background-color: red;
  color: white;
  padding: 7px 9px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
