{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'superuser/bulk.css' %}">
</head>
    <body>
        <div id="container">
        <a href="../"> Nazaj </a> <br>
        Pozdravljeni pri dodajanju več navadnih uporabnikov hkrati.<br>
        Uporabniki se dodajajo v <b>CSV</b> formatu. <br>
        Pravila: <br>
        <ul>
            <li>Pri vnosu podatkov ne uporabite CSV glave</li>
            <li>V vsaki vrstici je 1 uporabnik</li>
            <li>Vsi atributi morajo biti ločeni s <b>vejico</b></li>
            <li>Atributi si morajo slediti v naslednjem vrstnem redu (Ime,Priimek,upIme,Email uporabnika)</li>
            <li>Email naslovi in uporabniška imena se ne smejo podvajati</li>
       </ul>
       Potek: <br>
        <ul>
            <li>Ob uspešnem vnosu bo uporabnik dobil na vnešen mail podatek o tem, da je prejel nov račun z linkom do ponastavitve gesla. </li>
        </ul>
    <b-form-textarea placeholder="Ime,Priimek,upIme,Email" id="textarea" v-model="textareaValue"></b-form-textarea>
    <p class="text-info" v-if="status.length > 0">
        <ul>
            <li v-for="stat in status">[[stat]]</li>
        </ul>
    </p>
        <button type="submit" @click="parseToCsv()" class="registerbtn btn btn-primary">Vnos uporabnikov</button>

    <br>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'superuser/bulk.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}