{% load static %}
{% include "shared/user/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'superuser/merge.css' %}">
</head>
    <body>
        <div id="container">
        <a href="../"> Nazaj </a> <br>
        Pozdravljeni pri združevanju več navadnih uporabnikov v enega.<br>
        Potek: <br>
        <ul>
            <li>Spodaj vnesite vse email naslove uporabnika za katerega menite, da je v resnici eden uporabnik</li>
            <li>Vsak email naslov mora biti v svoji vrsici</li>
            <li>Spodaj vnesite mail kateri bo na koncu aktiven (ostali bodo izbrisani). Email mora biti eden izmed izbranih email naslov.</li>
            <li>Email naslovi se ne smejo podvajati</li>
        </ul>
          <div v-for="item in list" :key="item.id">
            Vnesite vse maile, ki želite, da so združeni
            <b-form-textarea id="textarea" v-model="item.value"></b-form-textarea>
        </div>
            Vnesite glavni mail
            <b-form-input id="input" v-model="masterMail"></b-form-input>
            <p class="text-info"> [[status]] </p>
                <button type="submit" @click="mergeInsert" class="registerbtn btn btn-primary">Združitev uporabnikov</button>
            <br>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'superuser/merge.js' charset=UTF-8 %}"></script>
{% include "shared/user/foot.html" %}
