#container {
    width: 90%;
    margin: auto;
    margin-top: 5px !important;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100% !important;
    }
    #container .tabs .col-auto {
        width: 100% !important;
    }
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

.pomoči {
    word-break: break-word;
}

pre {
     font-family: sans-serif;
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -pre-wrap;
     white-space: -o-pre-wrap;
     word-wrap: break-word;
}