
#status {
    color: red;
}
#posiljanje {
    color: green;
}
input[type="text"],input[type="email"],input[type="password"] {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 3px solid #AAA;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
  border-bottom: 2px solid #4d94ff;
  color: #4d94ff;
  transition: 0.2s ease;
}


.registerbtn {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.registerbtn:hover {
    opacity: 1;
}

#naslov {
    text-align: center;
}

.form {
    background-color: white;
    width:90%;
    padding: 5px;
    border-radius: 6px;
    margin: auto;
}

#iskanje {
    width:75%;
    display: inline-block;
}

#sola_dodana {
    height: 55px;
    overflow-y: scroll;
}

.form-group {
    margin-bottom: 0;
}

hr {
    margin: 0.5rem 0;
}

label {
    margin-bottom: 0.3rem;
}

p {
    margin-bottom: 0.3rem;
}

#vnos_sole {
    background-color: white;
    border-radius: 0;
    border-color: #007bff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}
#dodaj{
    background-color:  #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:5%;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
#dodane {
    width:30%;
    display: inline-block;

}
#pocisti{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:5%;
    padding:5px;
    cursor: pointer;
    border-radius: 3px;
  }


#autocomplete {
    max-width: 400px;
    margin: 0 auto;
  }


  .form {
    padding:10%;
    width:90%;
    margin: auto;


    }