{% load static %}
{% include "shared/admin/head.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/admin_send.css' %}">
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://kit.fontawesome.com/898d9d4930.js"></script>
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <div id="app">
                <form method="post" class="vue-form" @submit.prevent="submit" enctype="multipart/form-data">              
                  <fieldset>
                    <legend>Obveščanje mentorjev</legend>
                    <div>
                        <label class="label" for="subject">Od:</label> 
                        <select id="from">
                        </select>
                    </div>
                    <div>
                       <label class="label" for="email">Prejemniki</label>
                        <div>
                            <vue-tags-input
                            v-model="tag"
                            :tags="tags"
                            :validation="validation"
                            :autocomplete-items="filteredItems"
                            @tags-changed="newTags => tags = newTags"
                            />
                        </div>
                    </div>
            
                    <div>
                        <label class="label" for="subject">Zadeva</label>
                        <input type="text" name="subject" id="subject">
                    </div>

                    <!-- <div>
                       <label class="label" for="textarea">Sporočilo</label>
                       <textarea class="message" name="textarea" id="textarea" required=""></textarea>
                    </div> -->
                    <div id="editor"></div>
                    <ul id="seznamo">
                        <!-- <li>Agnes<span class="close12">&times;</span></li> -->
                    </ul>
                    <div id="dropZone">       
                       <label>
                        <i class="fas fa-paperclip" style="
                        margin-left: 5%;
                        margin-top: 3%;" title="Dodaj datoteko"></i>
                        <input id="addfile" type="file" name="myFiles" style="visibility: hidden;" multiple> 
                       </label>
                       <input type="submit" value="Pošlji" style="float: left; padding: 5px 20px;">
                    </div>
                  </fieldset>
                </form>    
                
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close">&times;</span>
                    <label id="error">Napaka</label>
                    <p>Prosimo navedite vsaj enega prejemnika.</p>
                    </div>  
                </div>

                <!-- The Modal -->
                <div id="myModal1" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close" id="zapri">&times;</span>
                    <label id="success">Sporočilo o uspešnosti</label>
                    <p>Sporočilo je bilo uspešno poslano</p>
                    </div>  
                </div>

                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content" style="top: -20%; width: 33%;">
                    <span class="close" id="zapri2">&times;</span>
                    <h3>Vnesite geslo</h3>
                    Geslo uporabnika:<br>
                    <input type="password" name="psw" id="gesl">
                    <br>
                    <input type="button" @click="setSettings" value="Pošlji">
                    </div>  
                </div>

                <div id="myModal3" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                    <span class="close" id="zapri3">&times;</span>
                    <label id="error">Pošiljanje e-pošte ni uspelo!</label>
                    <p>Pošiljanje ni uspelo zaradi napačnega gesla ali napačnih nastavitev e-poštnega računa.</p>
                    </div> 
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/view/admin_send.js' charset=UTF-8 %}"></script>
        <!-- <script src="{% static 'js/vendor/jquery.ui.widget.js' charset=UTF-8 %}"></script>
        <script src="{% static 'js/jquery.iframe-transport.js' charset=UTF-8 %}"></script>
        <script src="{% static 'js/jquery.fileupload.js' charset=UTF-8 %}"></script> -->
{% include "shared/admin/foot.html" %}