{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/competition_type.css' %}">
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <ul class="page-info">
                <li>&bull; Pregledovanje</li>
                <li>&bull; Vrste tekmovanj</li>
            </ul>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns">
                <span slot="title" slot-scope="props">
                    [[props.row.naziv]]
                </span>
                <span slot="izbris" slot-scope="props">
                    <a href="#" @click="delete_competition_type(props.row.id)"> Izbrisi </a>
                </span>
            </v-client-table>
        </div>
        <script src="{% static 'admin_user/view/competition_type.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}