{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/competitions.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
        <ul class="page-info">
            <li>&bull; Pregledovanje</li>
            <li>&bull; Tekmovanj</li>
            <li> <img id="csv" @click="toCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}></li>
        </ul>
         <!--Modal za podrobnosti o tekmovanju-->
            <b-modal size="lg" id="modal-1" title="Podatki o tekmovanju">
                <b-card no-body>
                    <b-tabs pills card vertical v-if="competitionExists">
                        <b-tab title="Osnovni podatki" active>
                            <p v-if="loadingTekmovanje"> Nalaganje podatkov o tekmovanju... </p>
                            <p v-if="getCompetitionError"> Napaka </p>
                            <b-card-text v-if="!loadingTekmovanje">
                                <ul>
                                    <li> <b>Ime tekmovanja: </b> [[currentCompetitionName]] </li>
                                    <li> <b>Ustvaril: </b> [[currentUser]] </li>
                                    <li> <b>Ustvarjeno: </b> [[modalDate]] </li>
                                    <li v-if="modal_selected_obdobje === '0'"> <b>Datum tekmovanja: </b> [[nicerCompetitionDate]] </li>
                                    <li v-if="modal_selected_obdobje === '1'"> <b>Datum tekmovanja: </b> [[nicerCompetitionDate_from]] - [[nicerCompetitionDate_to]] </li>
                                    <li> <b>Datum začetka prijave: </b> [[nicerloginDate]] </li>
                                    <li> <b>Url razpisa </b> [[url_razpis]] </li>
                                    <li> <b>Kontaktni podatki</b> [[kontaktni_naslov]] </li>
                                    <li> <b>Dodatni podatki</b> [[dodatni_podatki]]</li>
                                    <li> <b>Tip Tekmovanja</b> [[tip_tekmovanja]]</li>
                                    <li v-if="modal_selected_obdobje === '0'"> <b>Obdobje </b> Dnevno </li>
                                    <li v-if="modal_selected_obdobje === '1'"> <b>Obdobje </b> Večdnevno </li>            
                               </ul>
                            </b-card-text>
                        </b-tab>
                         <b-tab title="Uredi">
                            <p v-if="loadingTekmovanje"> Nalaganje podatkov o tekmovanju... </p>
                            <p v-if="getCompetitionError"> Napaka </p>
                            <b-card-text v-if="!loadingTekmovanje">
                                <div id="forma">
                                    <label for="tekmovanje_ime"><b>Novo ime tekmovanja<font color="red">*</font></b></label><br>
                                    <input type="text" class="input" v-model="currentCompetitionName" placeholder="Vnesite ime tekmovanja" maxlength="50" id="tekmovanje_ime" name="tekmovanje_ime" required><br>
                                    <label for="ds"><b>Url razpisa<font color="red">*</font></b></label><br>
                                    <input type="text" placeholder="Vnesite url razpisa" class="input" id="kd" v-model="url_razpis"> <br>                    
                                    <label for="ds"><b>Kontaktni podatki<font color="red">*</font></b></label><br>
                                    <input type="text" placeholder="Vnesite kontaktni naslov" class="input" id="kd" v-model="kontaktni_naslov"> <br>
                                    <label for="ds"><b>Dodatni podatki<font color="red">*</font></b></label><br>
                                    <input type="text" placeholder="Vnesite dodatne podatke" class="input" id="kd" v-model="dodatni_podatki"> <br>
                                    <label for="ds"><b>Datum zacetka prijave<font color="red">*</font></b></label><br>
                                    <input type="date" id="dk" v-model="datum_prijave"> <br>
                                    <input type="radio" v-model="modal_selected_obdobje" value="0"> 
                                    <b> Dnevno tekmovanje </b>
                                    <input type="radio" v-model="modal_selected_obdobje" value="1">
                                    <b> Večdnevno tekmovanje </b>
                                    <div v-show="modal_selected_obdobje === '0'">
                                        <label for="ds"><b>Datum tekmovanja<font color="red">*</font></b></label><br>
                                        <input type="date" id="ds" v-model="modal_datum_tekmovanja"> <br> 
                                    </div>
                                    <div v-show="modal_selected_obdobje === '1'">
                                        <label for="ds"><b>Datum tekmovanja od<font color="red">*</font></b></label><br>
                                        <input type="date" id="ds" v-model="modal_tekmovanje_od"> <br> 
                                        <label for="ds"><b>Datum tekmovanja do<font color="red">*</font></b></label><br>
                                        <input type="date" id="ds" v-model="modal_tekmovanje_do"> <br> 
                                    </div>            
                                    <label for="ds"><b>Tip tekmovanja<font color="red">*</font></b></label><br>
                                    <p v-for="typ in types">
                                        <input type="radio" name="competition_types" :value="typ.id" v-model="selected_type"> [[typ.naziv]]
                                    </p>
                                    <p id="edit_status" v-bind:class="{ 'text-success': adminEditSuccess, 'text-danger': adminEditHasError }"> [[ edit_status ]] </p>
                                    <button class="editbtn" v-on:click="edit_competition(currentCompetitionId)">Uredi tekmovanje</button>
                                </div>
                                    Za dokončno spremembo podatkov kliknite na gumb.<br>
                                    Če želite preklicati urejanje, zaprite pojavno okno.  Ob ponovnem odprtju se vam bodo prikazali podatki, ki so v sistemu.
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Izbriši">
                            <p v-if="loadingTekmovanje"> Nalaganje podatkov o tekmovanju... </p>
                            <b-card-text v-if="!loadingTekmovanje">
                                    Tekmovanje bo uspešno izbrisano, če ni nobenih prijav. 
                               <p id="status" v-bind:class="{ 'text-success': adminDeleteSuccess, 'text-danger': adminDeleteHasError }"> [[ delete_status ]] </p>
                               <button id="delete_button" class="delbtn" v-on:click="delete_competition($event,currentCompetitionId)">Izbriši tekmovanje</button>
                            </b-card-text>
                        </b-tab>   
                        <b-tab title="Mentorji">
                            <p v-if="loadingMentors"> Nalaganje podatkov o mentorjih na tekmovanju... </p>
                            <b-card-text v-if="!loadingMentors">
                                <p v-if="mentorjiTekmovanjeError"> Napaka pri pridobivanju mentorjev </p>
                                <p v-if="!mentorjiTekmovanjeError && mentorjiTekmovanje.length === 0"> Na tekmovanje ni prijavljen še noben mentor. </p>
                                <img v-if="mentorjiTekmovanje.length >= 1" id="csv" @click="mentorsToCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}> 
                                <p v-if="mentorjiTekmovanje.length >= 1"> Pregled mentorjev, ki so prijavljeni na tekmovanje preko šole. </p> 
                                <input v-if="mentorjiTekmovanje.length >= 1" type="text" id="modalMentorSearch" v-on:input="searchModalMentorsTable()" placeholder="Iskanje po nazivu mentorja">
                                <table v-if="mentorjiTekmovanje.length >= 1" id="modalMentorsTable" class="modal-table" style="width:100%">
                                    <tr>
                                      <th>E-naslov mentorja</th>
                                      <th>Naziv šole</th>
                                    </tr>
                                    <tr v-for="mentor in mentorjiTekmovanje">
                                        <td> [[ mentor.email ]] </td>
                                        <td> [[ mentor.naziv ]] </td>
                                    </tr>   
                                </table>
                            </b-card-text>
                        </b-tab>   
                    </b-tabs>
                    <p v-if="!competitionExists"> Zahtevano tekmovanje ne obstaja, prosimo osvežite stran. </p>
                             
            </b-modal>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">
                <span slot="Ime_Tekmovanje" slot-scope="props">
                    <a href="#" v-b-modal.modal-1 @click="getTekmovanje(props.row.ID_Tekmovanje), getSodelujoce(props.row.ID_Tekmovanje)">[[props.row.Ime_Tekmovanje]]</a>
                </span>
                <span slot="competition_date" slot-scope="props">
                    <p v-if="props.row.obdobje === 0"> [[props.row.competition_date]] </p>
                    <p v-if="props.row.obdobje === 1"> [[props.row.competition_date_from]] - [[props.row.competition_date_to]] </p>
                </span>              
            </v-client-table>
        </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/competitions.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}