{% load static %}
{% include "shared/admin/head.html" %}
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/first_unconfirmed.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
         <div id="container">
            <ul>
                <li>&bull; Pregledovanje</li>
                <li>&bull; Nepotrjenih</li>
                <li> <img id="csv" @click="toCsv()" v-b-tooltip.hover title="Export to CSV" src={% static 'icons/csv.png' charset=UTF-8 %}></li>
            </ul>

            <!--Modal za podrobnosti nepotrjnih mentorjih na šoli-->
            <b-modal size="lg" id="modal-1" title="Podatki o uporabniku">
                <p v-if="loadingSchools"> Nalaganje podatkov ... </p>
                <table class="modal-table">
                    <tr>
                        <th>Email</th>
                        <th>Potrdi</th>
                    </tr>
                    <tr v-for="school in unconfirmed_on_school">
                        <td style="width:90%"> [[ school.email ]] </td>
                            <td id="nepotrjen" style="width:10%">
                            <button :id="school.Mentor_id" class="confirm" v-on:click="userConfirm($event,school.Mentor_id)">Potrdi</button>
                       </td>
                    </tr>
                </table>
            </b-modal>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">
                <span slot="Naziv" slot-scope="user_school">
                    <a href="#" v-b-modal.modal-1 @click="getSchoolUnconfirmedMenthors(user_school.row.ID_Sola)">[[ user_school.row.Naziv ]]</a>
                </span>
            </v-client-table>
         </div>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'admin_user/view/first_unconfirmed.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/papaparse.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}