{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/view/messages.css' %}">
<script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <!-- Modal za podrobnosti o sporočilu -->
            <b-modal size="lg" id="modal-1" title="Podatki o sporočilu">
                <b>Naslov:</b> <br>
                <p> [[currentMessage.title]] </p>
                <b>Vsebina:</b> <br>
                <p> [[currentMessage.message]] </p>
                <b>Avtor:</b> <br>
                <p> [[currentMessage.email]] </p>
            </b-modal>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns">
                <span slot="prebrano" slot-scope="props">
                    <input type="checkbox" id="props.row.id" @change="toggle_read_message(props.row.id)" :value="props.row" v-model="readMessages">
                </span>
                <span slot="title" slot-scope="props">
                    <a href="#" v-b-modal.modal-1 @click="get_message(props.row.id)"> [[props.row.title]] </a>
                </span>
                <span slot="izbris" slot-scope="props">
                    <a href="#" @click="delete_message(props.row.id)"> Izbrisi </a>
                </span>
            </v-client-table>
        </div>
        <script src="{% static 'admin_user/view/messages.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}