#container {
    margin: auto;
    margin-top: 5px;
    width: 90%;
}

.modal-table th {
    background-color: #4CAF50;
}

.modal-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal-table th:nth-child(1) {
    width:50% !important;
}

.modal-table th:nth-child(2) {
    width:50% !important;
}

#modalMentorSearch { 
    width: 100%;
    font-size: 16px; 
    padding: 4px 6px 4px 7px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}

#sign-down {
    background-color: red;
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

th:nth-child(1) {
    width:55%;
}

th:nth-child(2) {
    width:15%;
}

th:nth-child(3) {
    width:15%;
}

th:nth-child(4) {
    width:15%;
}

.input {
    width: 100%;
}

img {
    height: 26px !important;
}

#csv {
    margin-left: 15px;
}

#csv:hover {
    cursor: pointer;
}

.editbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.delbtn {
  background-color: red;
  color: white;
  padding: 7px 9px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
