#container {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

#sign-down {
    background-color: red;
    width: 100%;

}
#show {
    margin-top:40px;
    background-color: #4CAF50;
    padding: 5px;
}
#update {
    width: 100%;
    margin-top: 11px;
}

.page-info {
    padding: 0 !important;
    margin-bottom: 5px !important;
}

.page-info li {
    display: inline;
}

.setting {
    background-color: #17a2b8;
    border-radius: 15px; 
}

.button {
    background-color: #17a2b8;
    border-radius: 15px; 
    color: white; 
}

.izbrisi_nastavitev {
    float: right;
    color: red;
    margin-right: 9px;
}

.izbrisi_nastavitev:hover {
    cursor: pointer;
}

.stevilka_nastavitve {
    margin-left: 9px;
}
