#container {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

th:nth-child(1) {
    width:5% !important;
}

th:nth-child(2) {
    width:70% !important;
}

th:nth-child(1) {
    width:5% !important;
}
p{
    word-break: break-all
}