{% load static %}
<html>
    <head>
        <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>
        <script src={% static 'shared/vue-table.js' charset=UTF-8 %}></script>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/vue-table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'guest/all_schools/all_schools.css' %}">
    </head>
    <body>
        <div id="container">
            <h4> Pozdravljeni. </h4>
            <p> Tukaj so na voljo vse šole, ki so v sistemu. V primeru, da vaše šole ni na seznamu prosimo kontaktirajte administratorja. </p>
            <v-client-table id="table" ref="myTable" :data="tableData" :columns="columns" :options="options">

            </v-client-table>
        </div>
    </body>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'guest/all_schools/all_schools.js' charset=UTF-8 %}"></script>
</html>