{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'guest/login/login.css' %}">
    </head>
    <body>
        <div id="forma">
            <div class="form_header" id="naslov">
                <h2>Prijava</h2>
            </div>
            <form action="" method="POST"> {% csrf_token %}
                <label for="username"><b>Uporabniško ime</b></label>
                <input type="text" placeholder="Vnesite svoje uporabniško ime" name="username" id="username" maxlength="40" value="{{username}}" required>
                <label for="password"><b>Geslo</b></label>
                <input type="password" placeholder="Vnesite svoje geslo" name="password" id="password" maxlength="40" value="{{password}}" required>
                <center><p style="color:red;"> {{response}} </p></center>
                <button type="submit" class="registerbtn btn btn-primary">Prijava</button>
            </form>
            <p><center>Še nimate računa? <a href="/registration/" >Registracija</a></center></p>
            <p><center>Pozabljeno geslo? <a href="/lost_password/" >Ponastavitev gesla</a></center></p>
        </div>
    </body>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'guest/login/login.js' charset=UTF-8 %}"></script>
</html>