{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <head>
        <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'guest/lost_password/lost_password.css' %}">
    </head>
    <body>
        <div id="forma">
                <div class="form_header" id="naslov"> {% csrf_token %}
                    <h2>Ponastavitev gesla</h2>
                    <p>Za ponastavitev gesla vpišite svoj email naslov in kliknite na gumb ponastavitev. <br>
                        Za uspešno ponastavitev morate nato v roku <b>15 min</b> potrditi geslo s klikom na url naslov, ki ste ga dobili na svoj email naslov.
                    </p>
                </div>
                <div id="container">
                    <label for="username"><b>Email naslov</b></label>
                    <input type="email" placeholder="Vnesite svoj email naslov" id="email" v-model="email" maxlength="40" required>
                    <div class="container" id="status" style="color:red; text-align: center; background-color:#f1f1f1"></div>
                   <p class="text-info">[[status]]</p>
                   <button type="submit" v-on:click="send_lost_password_email" class="lostbtn btn btn-primary">Ponastavitev</button>
                </div>
            <p><center><a href="{% url 'login' %}" >Prijava</a></center></p>
        </div>
    </body>
    <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <script src="{% static 'guest/lost_password/lost_password.js' charset=UTF-8 %}"></script>
</html>