{% load static %} 
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guest/pogoji_uporabe/pogoji_uporabe.css' %}">
  </head>
<body>
  <div id="container">
    Z registracijo in prijavo v aplikacijo mentor.acm.si Uporabnik potrjuje, da se strinja s spodaj navedenimi pogoji uporabe ter jih sprejema v celoti.
  <h1> Osebni podatki </h1>
    Aplikacija za delovanje potrebuje naslednje podatke o uporabniku: ime, priimek, uporabniško ime, geslo, elektronski naslov, (obvezni podatki)
    ter informacijo, o tem na kateri šoli uporabnik uči in na katera tekmovanje je preko le-teh prijavljen. (neobvezni podatki). <br>
    Podatki se bodo uporabljali za vodenje evidence o prijavljenih Uporabnikih na tekmovanje ter za razpošiljanje elektronske pošte za obveščanje Uporabnikov o tekmovanjih.
  </div>
</body>
</html>
