{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'guest/registration/registration.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared/autocomplete.css' %}">
    <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>
    <script src="{% static 'shared/autocomplete.js' charset=UTF-8 %}"></script>

  </head>
<body>
  <div id="container">
    <div class="form"> {% csrf_token %}
        <h3>Registracija</h3>
        <p>Izpolnite podatke, da se lahko registrirate v sistem. Vsi atributi kateri imajo <font color="red">*</font> so za vnos obvezni. Po uspešni
        registraciji morate <b>potrditi</b> svoj elektronski račun sicer prijava ne bo uspešna.</p></p>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Ime"><b>Ime <font color="red">*</font></b></label>
            <input type="text" placeholder="Vnesite ime" v-model="ime" id="ime" name="Ime"  maxlength="25" required>
          </div>
        <div class="form-group col-md-6">
            <label for="Priimek"><b>Priimek <font color="red">*</font></b></label>
            <input type="text" placeholder="Vnesite priimek" v-model="priimek" id="Priimek" name="Priimek" maxlength="25" required>
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Up ime"><b>Uporabniško ime <font color="red">*</font></b></label>
              <input type="text" placeholder="Vnesite uporabniško ime" v-model="up_ime" id="UpIme" maxlength="40" required>
            </div>
            <div class="form-group col-md-6">
              <label for="email"><b>Email <font color="red">*</font></b></label>
              <input type="email" placeholder="Vnesite Email" v-model="email" id="email" name="email" maxlength="40" required>
            </div>
          </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="geslo"><b>Geslo <font color="red">*</font></b></label>
              <input type="password" placeholder="Vnesite geslo" v-model="geslo" id="geslo" maxlength="40" required>
          </div>

            <div class="form-group col-md-6">
              <label for="geslo_ponovno"><b>Ponovite geslo <font color="red">*</font></b></label>
              <input type="password" placeholder="Ponovite geslo" v-model="geslo_ponovno" id="geslo_ponovno" maxlength="40" required>
            </div>
        </div>

        <h4>Podatki o mentorstvu na šolah</h4>
        <hr>
        <p>Tukaj si lahko izberete <b>1 ali več šol na kateri želite biti mentor.</b> V kolikor ne želite biti mentor na nobeni šoli pustite prazno.
        Ne najdete šole? <a href="/all_schools" target="_blank">Seznam vseh šol</a></p>

          <autocomplete
            id="vnos_sole"
            :search="search"
            :style="{ width:'80%', display:'inline-block' }"
            placeholder="Iščite šole..."
            aria-label="Iščite šole..."
          ></autocomplete>
          <p id="dodaj" @click="add_school()">+</p>
          <p id="pocisti" @click="delete_school()">-</p>

          <span v-if="izbrane_sole.length > 0"> <br><b> Dodane šole: </b> </span>
          <div id="sola_dodana">

            <li v-for="school in izbrane_sole">[[ school ]]</li>
          </div>
        
          <input type="checkbox" id="checkbox" v-model="checked">
          Strinjam se s <a href="/pogoji_uporabe" target="_blank" >pogoji uporabe.</a> <br><br>
        
          <p id="status"> [[status]] </p>
          <p id="posiljanje"> [[posiljanje_status]]</p>
        <hr>
        <p id="status" style="text-align:center"></p>
        <button type="submit" @click="registration" class="registerbtn btn btn-primary">Registracija</button>
        <p><center>Že imate račun? <a href="{% url 'login' %}">Prijava</a></center></p>
    </div>
  </div>
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
<script src="{% static 'guest/registration/registration.js' charset=UTF-8 %}"></script>
</body>
</html>

