<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    </head>
    <body>
        <center><p style="color:green; margin-top: 50px;">Uspešno ste spremenili svoj elektronski naslov. <a href="{% url 'login' %}"> Prijava </a> </p> </center>
    </body>
</html>
