{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/competition.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
             <!--Modal za podrobnosti o tekmovanju-->
            <b-modal size="lg" id="modal-1" title="Podatki o tekmovanju">
                    <b-card no-body>
                        <b-tabs pills card vertical v-if="competitionExists">
                            <b-tab title="Osnovni podatki" active>
                                <b-card-text>
                                    <ul>
                                        <li> <b>Ime tekmovanja: </b> [[modal_competition_name]] </li>
                                        <li> <b>Ustvaril: </b> [[create_user]] </li>
                                        <li> <b>Ustvarjeno: </b> [[created_at]] </li>
                                        <li v-if="modal_selected_obdobje === '0'"> <b>Datum tekmovanja: </b> [[nicerCompetitionDate]] </li>
                                        <li v-if="modal_selected_obdobje === '1'"> <b>Datum tekmovanja: </b> [[nicerCompetitionDate_from]] - [[nicerCompetitionDate_to]] </li>
                                        <li> <b>Datum začetka prijave: </b> [[nicerloginDate]] </li>
                                        <li> <b>Url razpisa </b> [[modal_url_razpis]] </li>
                                        <li> <b>Kontaktni podatki</b> [[modal_kontaktni_podatki]] </li>
                                        <li> <b>Dodatni podatki</b> [[modal_dodatni_podatki]]</li>
                                        <li> <b>Tip Tekmovanja</b> [[tip_tekmovanja]]</li>
                                        <li v-if="modal_selected_obdobje === '0'"> <b>Obdobje </b> Dnevno </li>
                                        <li v-if="modal_selected_obdobje === '1'"> <b>Obdobje </b> Vecdnevno </li>
                                   </ul>
                                </b-card-text>
                            </b-tab>
                             <b-tab title="Uredi">
                                <b-card-text>
                                    <div id="forma">
                                        <label for="tekmovanje_ime"><b>Novo ime tekmovanja<font color="red">*</font></b></label><br>
                                        <input type="text" v-model="modal_competition_name" placeholder="Vnesite ime tekmovanja" maxlength="50" id="tekmovanje_ime" name="tekmovanje_ime" required><br>
                                        <label for="ds"><b>Url razpisa<font color="red">*</font></b></label><br>
                                        <input type="text" placeholder="Vnesite url razpisa" class="input" id="kd" v-model="modal_url_razpis"> <br>                    
                                        <label for="ds"><b>Kontaktni podatki<font color="red">*</font></b></label><br>
                                        <input type="text" placeholder="Vnesite kontaktni naslov" class="input" id="kd" v-model="modal_kontaktni_podatki"> <br>
                                        <label for="ds"><b>Dodatni podatki<font color="red">*</font></b></label><br>
                                        <input type="text" placeholder="Vnesite dodatne podatke" class="input" id="kd" v-model="modal_dodatni_podatki"> <br>
                                        <label for="ds"><b>Datum zacetka prijave<font color="red">*</font></b></label><br>
                                        <input type="date" id="dk" v-model="modal_datum_prijave"> <br> <br>
                                        <input type="radio" v-model="modal_selected_obdobje" value="0"> 
                                        <b> Dnevno tekmovanje </b>
                                        <input type="radio" v-model="modal_selected_obdobje" value="1">
                                        <b> Večdnevno tekmovanje </b>
                                        <div v-show="modal_selected_obdobje === '0'">
                                            <label for="ds"><b>Datum tekmovanja<font color="red">*</font></b></label><br>
                                            <input type="date" id="ds" v-model="modal_datum_tekmovanja"> <br> 
                                        </div>
                                        <div v-show="modal_selected_obdobje === '1'">
                                            <label for="ds"><b>Datum tekmovanja od<font color="red">*</font></b></label><br>
                                            <input type="date" id="ds" v-model="modal_tekmovanje_od"> <br> 
                            
                                            <label for="ds"><b>Datum tekmovanja do<font color="red">*</font></b></label><br>
                                            <input type="date" id="ds" v-model="modal_tekmovanje_do"> <br> 
                                        </div>
                                        
                                        <label for="ds"><b>Tip tekmovanja<font color="red">*</font></b></label><br>
                                        <p v-for="typ in types">
                                            <input type="radio" name="competition_types" :value="typ.id" v-model="modal_selected_type"> [[typ.naziv]]
                                        </p>
                                        <p id="edit_status" v-bind:class="{ 'text-success': adminEditSuccess, 'text-danger': adminEditHasError }"> [[ edit_status ]] </p>
                                        <button class="editbtn" v-on:click="edit_competition(currentCompetitionId)">Uredi tekmovanje</button>
                                    </div>
                                        Za dokončno spremembo podatkov kliknite na gumb.
                                </b-card-text>
                            </b-tab>
                            <b-tab title="Izbriši">
                                <b-card-text>
                                        Tekmovanje bo uspešno izbrisano, če ni nobenih prijav. 
                                   <p id="status" v-bind:class="{ 'text-success': adminDeleteSuccess, 'text-danger': adminDeleteHasError }"> [[ delete_status ]] </p>
                                   <button id="delete_button" class="delbtn" v-on:click="delete_competition(currentCompetitionId)">Izbriši tekmovanje</button>
                                </b-card-text>
                            </b-tab>   
                        </b-tabs>
                        <p v-if="!competitionExists"> Zahtevano tekmovanje ne obstaja, prosimo osvežite stran. </p>
                                 
                </b-modal>



            <!--Dodajanje tekmovanj -->    
            <ul class="page-info">
                <li>&bull; Dodajanje</li>
                <li>&bull; Tekmovanj</li>
            </ul>
            <label for="tekmovanje_ime"><b>Ime Tekmovanja<font color="red">*</font></b></label><br>
            <input type="text" class="input" placeholder="Vnesite ime tekmovanja" maxlength="50" id="tekmovanje_ime" name="tekmovanje_ime" v-model="competitionName" required>
            <label for="url_razpis"><b>URL razpisa<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite url razpisa tekmovanja" maxlength="70" class="input" id="url_razpis" v-model="url_razpis">                        
            <label for="kontaktni_podatki"><b>Kontaktni podatki<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite kontaktni naslov" maxlength="50" class="input" id="kontaktni_podatki" v-model="kontaktni_podatki">                        
            <label for="dodatni_podatki"><b>Dodatni podatki<font color="red">*</font></b></label><br>
            <input type="text" placeholder="Vnesite dodatne podatke" maxlength="60" class="input" id="dodatni_podatki" v-model="dodatni_podatki"> 
            <label for="ds"><b>Datum zacetka prijave<font color="red">*</font></b></label><br>
            <input type="date" id="dk" v-model="datum_prijave"> <br> <br>
            <input type="radio" v-model="obdobje" value="0"> 
            <b> Dnevno tekmovanje </b>
            <input type="radio" v-model="obdobje" value="1">
            <b> Večdnevno tekmovanje </b>
            <div v-show="obdobje === '0'">
                <label for="ds"><b>Datum tekmovanja<font color="red">*</font></b></label><br>
                <input type="date" id="ds" v-model="datum_tekmovanja"> <br> 
            </div>
            <div v-show="obdobje === '1'">
                <label for="ds"><b>Datum tekmovanja od<font color="red">*</font></b></label><br>
                <input type="date" id="ds" v-model="datum_tekmovanja_od"> <br> 

                <label for="ds"><b>Datum tekmovanja do<font color="red">*</font></b></label><br>
                <input type="date" id="ds" v-model="datum_tekmovanja_do"> <br> 
            </div> <br>
            <label><b>Izberite vrsto tekmovanja<font color="red">*</font></b></label><br>
            <p v-for="typ in types"><input type="radio" name="competition_types" :value="typ.id" v-model="selected_type"> [[typ.naziv]]</p>
            <p v-if="emptyTypes"> Nobenih tipov dodanih, prosimo dodajte vsaj 1 tip (za uspešno dodajanje tekmovanj). <a href="/admin_add_competition_type">Dodaj tip tekmovanja</a> </p>
            <p id="status_tekmovanje" v-bind:class="{ 'text-success': competitionIsSuccess, 'text-danger': competitionHasError }">[[ status_tekmovanje ]]</p>
            <a href="#" v-if="tekmovanje_dodano" v-b-modal.modal-1 @click="getTekmovanje(idTekmovanje)">Pregled podatkov o tekmovanju</a>
            <button class="btn-primary btn" v-on:click="add_competition">Dodaj tekmovanje</button>
        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/competition.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}