{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/help.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
                <ul>
                    <li>&bull; Dodajanje</li>
                    <li>&bull; Pomoč</li>
                </ul>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Naslov pomoči</span>
                    </div>
                    <input type="text" v-model="title" v-on:keyup="countdownTitle" placeholder="Kratek naslov pomoči (najbolje kar 1 beseda)" class="form-control" maxlength="40">
                </div>
                <p class='text-right text-small'>[[remainingCountTitle]]</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Opis pomoči</span>
                    </div>
                    <textarea type="textarea" v-model="message" placeholder="Kratek opis pomoči" v-on:keyup="countdownMessage" class="form-control" rows="7"  maxlength="500"> </textarea>
                </div>
                <p class='text-right text-small'>[[remainingCountMessage]]</p>
                <p  v-bind:class="{ 'text-success': statusSuccess, 'text-danger': statusNotSuccess }"> [[status]] </p>
                <button class="btn-primary btn" @click="addHelp()">Dodaj pomoč</button>
        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/help.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}