{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/add/school.css' %}">

</head>
    <body>
        {% include "shared/admin/header.html" %}
        <div id="container">
            <!--Modal za podrobnosti o šoli-->
            <b-modal size="lg" id="modal-1" title="Podatki o šoli">
                    <b-card no-body>
                        <b-tabs pills card vertical v-if="schoolExists">
                            <b-tab title="Osnovni podatki" active>
                                <b-card-text>
                                    <ul>
                                        <li> <b>Ime šole: </b> [[schoolName]] </li>
                                        <li> <b>Ustvaril: </b> [[currentUser]] </li>
                                        <li> <b>Ustvarjeno: </b> [[modalDate]] </li>
                                   </ul>
                                </b-card-text>
                            </b-tab>
                             <b-tab title="Uredi">
                                <b-card-text>
                                    <div id="forma">
                                        <label for="tekmovanje_ime"><b>Novo ime šole: <font color="red">*</font></b></label><br>
                                        <input type="text" v-model="schoolName" placeholder="Vnesite ime šole" maxlength="50" id="sola_ime" name="sola_ime" required>
                                        <p id="edit_status" v-bind:class="{ 'text-success': adminEditSuccess, 'text-danger': adminEditHasError }"> [[ edit_status ]] </p>
                                        <button class="editbtn" v-on:click="edit_school(currentSchoolId)">Uredi šolo</button>
                                    </div>
                                </b-card-text>
                            </b-tab>
                            <b-tab title="Izbriši">
                                <b-card-text>
                                   Šola bo uspešno izbrisana če na njej ne uči noben mentor.
                                   <p id="status" v-bind:class="{ 'text-success': adminDeleteSuccess, 'text-danger': adminDeleteHasError }"> [[ delete_status ]] </p>
                                   <button id="delete_button" class="delbtn" v-on:click="delete_school($event,currentSchoolId)">Izbriši šolo</button>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                        <p v-if="!schoolExists"> Zahtevana šola ne obstaja, prosimo osvežite stran. </p>
                </b-modal>
            <ul class="page-info">
                <li>&bull; Dodajanje</li>
                <li>&bull; Šol</li>
            </ul>
            <label for="sola_ime"><b>Ime šole:<font color="red">*</font></b></label>
            <input type="text" class="input" placeholder="Vnesite ime šole" maxlength="105" id="sola_ime" name="sola_ime" v-model="schoolName" required>
            <label for="sola_ime"><b>Vrsta šole:<font color="red">*</font></b></label>
            <b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select>
            <p id="status_sola"  v-bind:class="{ 'text-success': schoolIsSuccess, 'text-danger': schoolHasError }">[[ status_sola ]]</p>                     
            <p v-if="schoolAdded"><a href="#" v-b-modal.modal-1 @click="get_school(addedSchoolId)"> Kliknite za pregled dodane šole </a></p>
            <button class="btn-primary btn" v-on:click="add_school">Dodaj šolo</button>
        </div>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'admin_user/add/school.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}