{% load static %}
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
<script src="{% static 'superuser/check_smtp_password.js' charset=UTF-8 %}"></script>

<button onclick="showForm()">Preveri SMTP geslo</button>
<div id="show_password_form" style="display: none">
    V vmesniku ne želimo prikazati nekriptiranega gesla (če nam vdrejo v superadmina dobijo podatke o geslu).
    Želimo si način, da preverimo ali se nekriptirano geslo ujema z vnešenim geslom. Priporočeno je, da to preverite po vsaki shranitvi SMTP nastavitev. V primeru, da ste prepričani, da ste geslo shranili
    in vam tukaj vrne neujemanje z istim geslom, je verjetno prišlo do problema pri kriptiranju. V primeru, da se vam to zgodi poizkusite geslo izbrisati
    in ga vnesite ponovno ter shranite, nato še enkrat preverite tukaj.
    Če je težava še vedno prisotna vzemite fernet key iz konfiguracijske datoteke in kriptirano obliko geslo ter poizkusite ročno dekriptirati, da dobite nekriptirano geslo.
    Tukaj lahko preverite ali se bo vnešeno SMTP geslo ujemalo z kriptiranim geslom:
    <br> <br>
    <input type="password" id="user_password" name="password" placeholder="Vnesite SMTP geslo" required>
    <button onclick="show_original_smtp_password()">Preveri SMTP geslo</button>
    <p id="get_original_password_success_result"></p>
    <p id="get_original_password_error_result"></p>
</div>