{% load static %}
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
<script src="{% static 'superuser/send_test_email.js' charset=UTF-8 %}"></script>

<div style="margin-left:30px">
    <label class="email">Vnesi elektronski naslov, na katerega se bo poslalo testno elektronsko sporočilo z nastavitvami, ki ste jih vnesli:</label> <br>
    <input type="text" id="test_email" placeholder="Elektronski naslov" name="email" style="width:300px"> <br> <br>
    <button onclick="sendTestEmail()" style="background: #4CAF50">Pošlji testno elektronsko sporočilo</button>
    <p id="send_test_email_success_result" style="color:green"></p>
    <p id="send_test_email_error_result" style="color:red"></p>
</div>