{% load static %}
<script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
<script>
    var headers = {
        'X-CSRFToken': getCookie("csrftoken"),
    }

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        let errorResultElement = document.querySelector('#error_smtp_password');
        let errorResultFernet = document.querySelector('#error_smtp_fernet');
        let errorResultNoSmtpSettings = document.querySelector('#error_no_smtp_settings');
        errorResultElement.innerHTML = "";
        errorResultFernet.innerHTML = "";
        errorResultNoSmtpSettings.innerHTML = "";

        if (this.readyState == 4 && this.status == 200) {
            let responseObject = JSON.parse(this.response);

            if (!responseObject.have_smtp_settings) {
                errorResultNoSmtpSettings.innerHTML = "V sistemu nimate SMTP nastavitev za sistemsko pošiljanje elektronskih sporočil, dodajte jih, da bo pošiljanje delovalo.  <a href='/admin/tekmovanja/system_email_settings/add/'>Tukaj</a>";
            }

            if (responseObject.have_smtp_settings && responseObject.can_decrypt_password == false) {
                errorResultElement.innerHTML = "" +
                    "Napaka pri dekodiranju SMTP gesla (Nastavitve SMTP strežnika). <br>" +
                    "Morda je prišlo do zamenjave SMTP_PASSWORD_SECRET_KEY ključa v konfiguracijski datoteki ali pa le-ta ne obstaja več. <br>" +
                    "Prosim preverite ali pošiljanje deluje <a href='/admin/tekmovanja/system_email_settings/'>Tukaj</a>. <br>" +
                    "Če pošiljanje testnega sporočila deluje ignorirarjte to sporočilo <br>" +
                    "Če pošiljanje ne deluje preverite nastavitve ter nekripritano geslo  <a href='/admin/tekmovanja/system_email_settings/1/change/'>Tukaj</a> <br>"+
                    "Preverite tudi nastavitev SMTP_PASSWORD_SECRET_KEY ključa. Primer nastavitve lahko vidite v settings.example.py <br>" +
                    "Če je bil problem v ključu, ga popravite ter nato še enkrat shranite geslo v nekriptirani obliki."
            }


            if (responseObject.have_fernet_key == false) {
                errorResultFernet.innerHTML = "V konfiguracijski datoteki vam manjka spremenljivka SMTP_PASSWORD_SECRET_KEY," +
                    " nastavite jo sicer pošiljanje sistemskih mailov ne bo delovalo, prav tako ne boste morali shraniti nastavitev." +
                    "Prosim preverite ali pošiljanje deluje <a href='/admin/tekmovanja/system_email_settings/'>Tukaj</a>. <br>" +
                    "V primeru, da je spremenljivka uspešno nastavljena ignorirajte to sporočilo."
            }

            if (responseObject.have_fernet_key && responseObject.have_correct_fernet_key == false) {
                errorResultFernet.innerHTML = "V konfiguracijski datoteki imate napačno nastavitev spremenljivke SMTP_PASSWORD_SECRET_KEY" +
                    " nastavite jo sicer pošiljanje sistemskih mailov ne bo delovalo, prav tako ne boste morali shraniti nastavitev." +
                    "Prosim preverite ali pošiljanje deluje <a href='/admin/tekmovanja/system_email_settings/'>Tukaj</a>. <br>" +
                    "V primeru, da je spremenljivka uspešno nastavljena ignorirajte to sporočilo."
            }
        }
    };
    xhttp.open("POST", "/api/superuser/can_decrypt_smtp_password/", true);
    xhttp.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhttp.send();
</script>

<div style="margin-left:30px">
    <h1 id="error_smtp_password" style="color:red"></h1>
    <h1 id="error_smtp_fernet" style="color:red"></h1>
    <h1 id="error_no_smtp_settings" style="color:red"></h1>
</div>