{% load static %}
<h1 style="margin-left:30px">Navodila za dodajanje/spreminjanje SMTP nastavitev.</h1>
<h3 style="margin-left:30px"> V sistemu imamo lahko le 1 SMTP nastavitev. V primeru, da boste želeli vnesti več nastavitev bo sistem vrnil napako. <br>
    Ko bodo enkrat SMTP nastavitve vnešene, jih ne boste morali več izbrisati, če želite uporabiti druge nastavitve spremenite obstoječe nastavitve. <br>
    Ob shranitvi vnešenih sprememb se vam geslo, ki ste ga vnesli zakriptira. Ob vsaki spremembi preverite
    ali ima nekriptirano geslo pravilno vrednost to naredite tako da po shranitvi nastavitev še enkrat odprete SMTP nastavitve ter kliknete na gumb ("preveri SMTP geslo") ter vnesete smtp geslo. <br>
    V primeru, da želite zamenjati geslo izbrišite trenutno kripritano gesla in vnesite novo geslo. Geslo bi se vam moralo ob shranitvi zakriptirati. <br>
    Če SMTP nastavitve delujejo lahko testirate na zgornji formi. V vnosno polje vnesite svoj elektrosnki naslov in v primeru, da so SMTP nastavitve pravilne
    bi morali dobiti testno elektronsko sporočilo. Priporočljivo je, da to naredite po vsaki spremembi. <br>
    Če boste kdaj v konfiguracijski datoteki spremenili ključ za kodiranje SMTP gesla (SMTP_PASSWORD_SECRET_KEY) in bodo SMTP nastavitve že vnešene, poskrbite, da
    ponovno vnesete geslo(geslo bo ponovno zašifrirano z novim ključem), sicer bo prišlo do težav pri dekodiranju gesla in posledično pri pošiljanju mailov.
</h3>