<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    </head>
    <body>
        <center> <p style="color:red;margin-top:40px;"> Zahtevek neuspešen. Možni razlogi:
        <ul>
            <li> Vaš časovni okvir za potrditev vseh mail računov z namenom združitve le-teh v enega je presežen (6ur je minilo od zahtevka).   </li>
            <li> Nepravilen žeton </li>
            <li> Ob potrjevanju ste že uspešno združili račune </li>
        </ul>
        Za več informacij kontaktirajte administratorja.
        </p></center>
        <p><center><a href="{% url 'login' %}">Prijava</a></center></p>
    </body>
</html>
