@charset "UTF-8";
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  height: 20px;
}

.header-img {
  margin-top:5px;
}

.header {
  background-color: #f1f1f1;
  overflow: hidden;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #17a2b8;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}