{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shared/header/header.css' %}">
<div id="header-container">
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="{% url 'admin_index' %}">Domov</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <button class="openbtn prik" style="display: none;" onclick="openNav()"><i class="fas fa-bars"></i></button>
      <b-navbar-brand href="#" class="prik" style="display: none;font-family: 'B612', sans-serif;" onclick="resetM()">Mentorji</b-navbar-brand>

      <b-navbar-brand href="{% url 'admin_index' %}" id="mailHome" style="display: none;font-family: 'B612', sans-serif;">Domov</b-navbar-brand>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
      <b-nav-item  href="{% url 'admin_send' %}" {{admin_send}}>Pošiljanje e-pošte</b-nav-item>
        <b-nav-item-dropdown right>
        <template slot="button-content"><em>Dodajanje</em></template>
          <b-dropdown-item href="{% url 'admin_add_competitions'%}" {{add_competitions}}>Tekmovanj</b-dropdown-item>
          <b-dropdown-item href="{% url 'admin_add_schools'%}" {{add_schools}}>Šol</b-dropdown-item>
          <b-dropdown-item href="{% url 'admin_bulk_schools'%}" {{bulk_schools}}>Več šol</b-dropdown-item>
          <b-dropdown-item href="{% url 'admin_add_admin'%}" {{add_admin}}>Administratorjev</b-dropdown-item>
          <b-dropdown-item href="{% url 'admin_add_competition_type'%}" {{add_competition_type}}>Vrste tekmovanj</b-dropdown-item>
          <b-dropdown-item href="{% url 'admin_add_help'%}" {{add_help}}>Pomoči</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>

          <!-- Using 'button-content' slot -->
         <template slot="button-content"><em>Pregledovanje</em></template>
            <b-dropdown-item href="{% url 'admin_view_competitions'%}" {{view_competitions}}>Tekmovanje</b-dropdown-item>
            <b-dropdown-item href="{% url 'admin_view_schools'%}" {{view_schools}}>Šola</b-dropdown-item>
            <b-dropdown-item href="{% url 'admin_view_users'%}" {{view_users}}>Mentorjev</b-dropdown-item>
            <b-dropdown-item href="{% url 'uncorfirmed_menthors'%}" {{unconfirmed_menthors}}>Nepotrjeni mentorji</b-dropdown-item>
            <b-dropdown-item href="{% url 'first_unconfirmed'%}" {{first_unconfirmed}}>Prvi nepotrjeni mentorji</b-dropdown-item>
            <b-dropdown-item href="{% url 'admin_view_competition_type'%}" {{view_competition_type}}>Vrst tekmovanj</b-dropdown-item>
            <b-dropdown-item href="{% url 'messages'%}" {{msg}}>Sporočilo</b-dropdown-item>
            <b-dropdown-item href="{% url 'admin_view_help'%}" {{view_help}}>Pomoč</b-dropdown-item>
          </b-nav-item-dropdown>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
         <template slot="button-content"><em>Admin</em></template>
          <b-dropdown-item href="{% url 'admin_edit_profile'%}" {{edit_profile}}>Urejanje profila</b-dropdown-item>
          <b-dropdown-item href="{% url 'documentation'%}" {{documentation}} target="_blank">Dokumentacija</b-dropdown-item>
          <b-dropdown-item href="{% url 'web_logout' %}">Odjava</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
<script src="{% static 'shared/header/admin/header.js' charset=UTF-8 %}"></script>