
  .VueTables__search {
    width: 100%;
  }

  [for^="VueTables__search_"] {
    display: none !important;
  }

  [for^="VueTables__limit_"] {
    display: none !important;
  }

  .VueTables__table {
    width: 100%;
  }

  .VueTables__limit {
    float: right;
    display: inline;
  }
  .col-md-12 {
    display:inherit;
  }

  [id^="VueTables__search_"] {
    width: 79px !important;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 7px !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;
    }
    .form-control {
      height: 35px;
      padding: 0;
    }
    .VueTables__search-field {
      width: 100%;
    }
  [id^="VueTables__search_"]:focus {
    width: 100% !important;
  }

  .VueTables__no-results {
    display:none;
  }
  .VuePagination__count {
    display:none !important;
  }

  .vuetable th#_Naziv { width: 80%; }

  table th {
    padding: 0.6rem !important;
  }

  table td {
    padding: 0.5rem !important;
  }

  th:hover {
    cursor:pointer;
  }