{% load static %}
{% include "shared/user/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'shared/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_profile/user_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared/loader.css' %}">
</head>
    <body>
        {% include "shared/user/header.html" %}
  <div id="mentor-loader"></div>
  <div id="container" style="visibility: hidden">
    <ul class="page-info">
      <li>&bull; Uporabnik</li>
      <li>&bull; Moj profil</li>
    </ul>
    <b-tabs pills card vertical>
      <b-tab title="Osebni podatki" active>
        <b-card-text>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <ul>
                  <li v-if="user.first_name"><b>Ime:</b> [[ user.first_name ]] </li>
                  <li v-if="!user.first_name"><b>Ime:</b> Ni podatka </li>
                  <li v-if="user.last_name"><b>Priimek:</b> [[ user.last_name ]] </li>
                  <li v-if="!user.last_name"><b>Priimek:</b> Ni podatka </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li v-if="user.username"><b>Uporabniško ime:</b> [[ user.username ]] </li>
                  <li v-if="!user.username"><b>Uporabniško ime:</b> Brez podatka </li>
                  <li v-if="user.email"><b>Email:</b> [[ user.email ]] </li>
                  <li v-if="!user.email"><b>Email:</b> Brez podatka </li>
                </ul>
              </div>
            </div>
          </div>
        </b-card-text>
      </b-tab>
      <b-tab title="Sprememba os. podatkov">
        <b-card-text>
          Da Vam bodo zamenjani podatki vidni se boste morali ob uspešni zamenjavi podatkov ponovno prijaviti v sistem. Če boste spremenili elektronski naslov ga boste morali za uspešno 
          spremembo potrditi.
          <div class="form-group">
            <div class="col-sm">
              <label class="col-sm-4" for="ime"><b>Ime:</b></label>
                <div class="col-sm-12">
                  <input type="text" v-model="ime" class="form-control" id="ime" name="ime">
                </div>
                <label class="control-label col-sm-4" for="priimek"><b>Priimek:</b></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" v-model="priimek" id="priimek" name="pwd">
              </div>
          </div>
          <div class="col-sm">
            <label class="control-label col-sm-4" for="email"><b>Email:</b></label>
            <div class="col-sm-12">
              <input type="text" v-model="email" class="form-control" id="email" name="email">
            </div>
            <label class="control-label col-sm-4" for="up_ime"><b>Up Ime:</b></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" v-model="up_ime" id="up_ime" name="pwd">
            </div>
          </div>
          <p class="text-info">[[status]]</p>
         <button id="update" v-on:click="change_data($event)" class="btn btn-primary">Spremeni podatke</button>
          </div>
        </b-card-text>
      </b-tab>
      <b-tab title="Sprememba gesla">
        <b-card-text>
         <div class="form-group">
          <label class="col-sm-12" for="ime"><b>Novo geslo:</b></label>
          <div class="col-sm-12">
            <input type="password" v-model="geslo1" class="form-control" id="ime" name="ime">
          </div>
          <label class="control-label col-sm-12" for="priimek"><b>Ponovitev novega gesla:</b></label>
          <div class="col-sm-12">
            <input type="password" class="form-control" v-model="geslo2" id="priimek" name="pwd">
          </div>
        </div>
          <b><p class="text-info">[[geslo_status]]</p></b>
          <button id="update" v-on:click="change_password($event)" class="btn btn-primary">Spremeni geslo</button>
        </b-card-text>
      </b-tab>
      <b-tab title="Izbris">
        <b-card-text>
          <button id="sign-down" class="btn btn-danger" v-on:click="delete_user($event)">Izbriši me</button>
        </b-card-text>
    </b-tabs>
  </div>
        <script src="{% static 'shared/loader.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
        <script src="{% static 'user/user_profile/user_profile.js' charset=UTF-8 %}"></script>
        <script>
          setTimeout(function() { document.getElementById('container').style.visibility = 'visible'; }, 2000);
        </script>
{% include "shared/user/foot.html" %}