{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shared/header/header.css' %}">
<div id="user-header-container" style="background-color: #e3f2fd;">
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand class="header-img" href="{% url 'user_index' %}" >Domov</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
       <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
      <b-nav-item  href="{% url 'schools' %}" {{schoolActive}}>Šole</b-nav-item>
      <b-nav-item  href="{% url 'competitions' %}" {{competitionActive}}>Tekmovanja</b-nav-item>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
         <template slot="button-content"><em>Uporabnik</em></template>
            <b-dropdown-item class="header-img" href="{% url 'user_profile' %}" {{profileActive}}>Moj profil</b-dropdown-item>
            <b-dropdown-item class="header-img" href="{% url 'help' %}" {{helpActive}}>Pomoč</b-dropdown-item>
            <b-dropdown-item class="header-img" href="{% url 'send_message_to_admin' %}" {{send_message_to_admin}}>Pošlji sporočilo</b-dropdown-item>
          <b-dropdown-item href="{% url 'web_logout' %}">Odjava</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
<script src="{% static 'shared/header/user/header.js' charset=UTF-8 %}"></script>
