{% load static %}
<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/header/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/bootstrap-vue.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared/vue-table.css' %}">
        <script src="{% static 'shared/vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/bootstrap-vue.js' charset=UTF-8 %}"></script>
        <script src="{% static 'shared/axios.js' charset=UTF-8 %}"></script>