{% load static %}
{% include "shared/admin/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_user/index.css' %}">
</head>
    <body>
        {% include "shared/admin/header.html" %}
        <script src="{% static 'shared/get_cookie.js' charset=UTF-8 %}"></script>
    <div id="container">
        <p v-if="!isUnconfirmed && !haveNewMessages && !firstUnconfirmedExists" class="text-success">    
            Pozdravljeni [[ user.username ]]. Trenutno nimate obvestil.
        </p>
        <p v-if="isUnconfirmed || haveNewMessages || firstUnconfirmedExists">
            Pozdravljeni [[ user.username ]]. Trenutno imate sledeča obvestila:
            <ul>
                <li v-if="isUnconfirmed" class="text-warning">
                    Na šolah obstajajo mentorji, ki še niso bili potrjeni.  <a href="/admin_view_uncorfirmed_menthors"> Prikaz</a>
                </li>
                <li v-if="haveNewMessages" class="text-warning">
                    Obstajajo nova sporočila. <a href="/messages">Prikaz</a>
                </li>
                <li v-if="unreadMessages" class="text-warning">
                    Obstajajo neprebrana sporočila. <a href="/messages">Prikaz</a>
                </li>
                <li v-if="firstUnconfirmedExists" class="text-danger">
                    Obstajajo šole katere nimajo potrjenih mentorjev. <a href="/admin_view_first_unconfirmed">Prikaz</a>
                </li>
            </ul>
        </p>
        </div>
        <script src="{% static 'admin_user/index.js' charset=UTF-8 %}"></script>
{% include "shared/admin/foot.html" %}